.homePageWrapper {
  width: 100vw;
  margin: 0 auto;
}

.homePageHeader {
  width: 320px;
  outline: 1px solid red;
  margin: 0 auto;
  margin-bottom: 24px;
}
.homePageBody {
  width: 320px;
  outline: 1px solid red;
  height: 500px;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .homePageWrapper {
    margin: 0 auto;
    padding-bottom: 420px;
    background-image: url(../../images/img/background_tablet.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .homePageHeader {
    width: 660px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  .homePageBody {
    width: 560px;
    height: 420px;
    margin-left: 90px;
    padding-top: 56px;
  }
}

@media (min-width: 1200px) {
  .homePageWrapper {
    margin: 0 auto;
    padding-bottom: 110px;
    background-image: url(../../images/img/background_desktop.png);
    background-size: contain;

  }

  .homePageHeader {
    width: 550px;
    margin: 0;
    margin-left: 92px;
    margin-bottom: 74px;
  }
  .homePageBody {
    width: 620px;
    margin-left: 116px;
    padding-top: 74px;
  }
}
