* {
    margin: 0;
    padding: 0;
}

.pageWrapper {
    padding: 36px 25px;
    min-height: 90vh;
}

@media(min-width: 768px) {
    .pageWrapper {
        /* max-width: 638px; */
        max-width: 85.6%;
        padding: 70px 0;
        margin: 0 auto;
    }

}

@media(min-width: 1280px) {
    .pageWrapper {
        max-width: 82%;
        padding: 20vh 0 0;
        margin: 0 auto;
    }
}