.search {
  display: flex;
}

.searchSelect {
  width: 300px;
  margin-right: 20px;
  margin-top: 4px;
}

.searchInput {
  margin-right: 20px;
}

.searchInput input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  outline: none;
}

.searchBtn button {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: rgb(252, 132, 44);
  box-shadow: 0px 6px 10px 0px rgba(252, 132, 44, 0.33);
  border-radius: 50%;
  font-size: 25px;
  padding: 0px;
  outline: none;
}

.asyncSelect div:first-child {
  border: none;
  outline: none !important;
}

.form {
  display: none;
}

.errorNotification {
  color: red;
  position: absolute;
  font-size: 0.8rem;
  top: 200px;
  left: 75px;
}

@media (min-width: 768px) {
  .form {
    display: block;
  }
}
