.container {
  padding: 0 20px;
  /* background-image: url(../../images/img/backgroundSummary.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.blockSummary {
  padding-top: 30px;
  font-family: "Gotham Pro", sans-serif;
}
.title {
  margin-bottom: 20px;
  font-weight: 600;
}
.listProgress {
  list-style: none;
  margin-bottom: 30px;
}
.progressItem {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
}
.progressItem > span {
  display: block;
  color: #999daa;
  line-height: 30px;
  font-size: 15px;
}
.products {
  color: #999daa;
  line-height: 30px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 638px;
  }
  .blockSummary {
    padding-top: 76px;
    padding-bottom: 80px;
    display: flex;
    justify-content: start;
  }
  .blockProgres {
    width: 255px;
    margin-right: 62px;
  }
  .listProgress {
    margin: 0;
  }
  .title {
    margin-bottom: 36px;
  }
  .blockProducts {
    width: 280px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1148px;
    background-image: none;
  }
  .blockSummary {
    padding-left: 84px;
    padding-right: 60px;
    padding-bottom: 176px;
    padding-top: 136px;
    margin: 0;
    width: 488px;
    /* background-image: url(../../images/img/backGroundSummaryLap.jpg); */
    background-repeat: no-repeat;
    flex-direction: column;
  }
  .blockProgres {
    margin-bottom: 80px;
  }
  .loginBox {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 142px;
  }
  .blabla {
    width: 100px;
    height: 30px;
    background-color: black;
  }
}
