.form {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
}

.form input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid #999daa;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 4px;
    margin-bottom: 20px;
}

.form input:nth-child(2n-1) {
    margin-bottom: 60px;
}

.entryBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: #999daa;
    text-transform: uppercase;
    border-bottom: 1px solid #fc832c00;
    padding-bottom: 4px;
    margin-bottom: 50px;
    outline: none;
    cursor: pointer;
}

.entryBtn:hover,
.entryBtn:focus {
    transform: scale(1.05);
}

.submitBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    background-color: #fc842c;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    width: 176px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.submitBtn:hover,
.submitBtn:focus {
    filter: drop-shadow(0px 6px 5px rgba(252, 132, 44, 0.33));
    transform: scale(1.1);
}

.errorNotification {
    color: red;
    position: absolute;
    font-size: 0.625rem;
    transform: translateX(-50%);
    left: 50%;
    bottom: 96px;
}

@media(min-width: 768px) {
    .form {
        text-align: start;
        max-width: 45.2%;
        padding: 20px 12px;
    }

    .form input {
        text-align: start;
    }

    .submitBtn {
        max-width: 51%;
    }

    .errorNotification {
        transform: translateX(0);
        left: 12px;
    }
}

@media(min-width: 1280px) {
    .form {
        max-width: 33%
    }

    .form input {
        height: 50px;
    }

    .entryBtn {
        font-family: Gotham Pro, Verdana, Geneva, Tahoma, sans-serif;
    }

    .submitBtn {
        width: 51.7%;
    }
}